// //Here you can customize bootstrap
$primary: #663399;
// @import "~bootstrap/scss/bootstrap";

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    // @media (min-width: 1200px) {
    //     max-width: 1200px;
    //   }
  }

.gallerySpacing{
    margin: 80px 0px;
    padding: 80px 0px;
}

